

html {
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}

/* -- Game Title --*/
h1{
    font-family:'Roboto', sans-serif;
    font-size:6em;
    font-weight:700;
    text-align: center;
    margin-top:50px;
    margin-bottom:45px;
    color:orange;
}

/* -- Game Buttons --*/
.game-buttons{
    display:block;
    text-align:center;
    padding:25px;
    margin:2em;
}

.btn.btn-primary{
    margin-right:100px;    
}

/* -- Game Info --*/
.game-info{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin:3em;
    width:500px;
    text-align: center;
}


ul.stars {
    list-style:none;
    display:ruby-text;
}

.reset{
    text-align:right;
    cursor:pointer;
}

/* -- Cards CSS --*/
.easy-game{
    justify-content: center;
	align-items: center;    
    display:block;
    background:#006168;
    
    padding:1em;
}

.deck{
    display:grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, auto);
	justify-content: center;
	align-items: center;
	
}

.card {
	height: 175px;
	width: 125px;
	margin: 0.2rem 0.2rem;
	background: #141214;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.card-back {
	height: 175px;
	width: 125px;
	margin: 0.2rem 0.2rem;
	background: #141214;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.card-face {
	height: 175px;
	width: 125px;
	margin: 0.2rem 0.2rem;
	background: #141214;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

/*-- Card styles sourced from :

<a href="https://www.vecteezy.com/free-vector/playing-cards">Playing Cards Vectors by Vecteezy</a>



*/


/* -- Game levels Display --*/

.easy-game.level-1{
    display:block;
}



